In [1]:
import pandas as pd

In [6]:
frame = pd.DataFrame({'a':[0,1,0,1],'b':[4,7,-3,2]})
frame.sort_values(by='b')

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

In [4]:
import numpy as np
data =pd.DataFrame([[1,6.5,3],[1,np.nan,3],[np.nan,np.nan,np.nan],[np.nan,6.5,3]])
data = data.dropna(axis=1,how="all")

In [5]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  3.0
2  NaN  NaN  NaN
3  NaN  6.5  3.0